body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    background-position: center 20%;
    background-image: url("https://lh3.googleusercontent.com/p/AF1QipMN1RD0xRCoAbxta6xyARgMdsWnPfjSl0oVwJ5s=s680-w680-h510");
    background-size: cover;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; /* Add this for positioning the pseudo-element */
}

/* Add a pseudo-element to create the black overlay */
body::before {
	z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.781); /* Adjust the opacity by changing the last value (0.781 in this case) */
}

.content-container {
    text-align: center;
    color: #fafafa;
    padding: 20px;
}

.profile-pic2 {
    max-width: 230px; /* Smaller profile picture */
    max-height: auto;
    margin-bottom: 10px; /* Reduced margin */
}

.name {
    font-size: 32px; /* Smaller font size for the name */
    margin: 0;
}

.link-container {
    margin-top: 10px; /* Reduced margin */
    text-align: center;
}

.link-box {
    padding: 5px; /* Reduced padding */
    border-bottom: 1px solid #fafafa; /* Thinner border */
    list-style: none;
    display: inline-block; /* Display list items as inline-block elements */
    margin: 0; /* Remove any default margin */
}

.link-box a {
    text-decoration: none;
    color: #fafafa;
    font-size: 16px; /* Smaller font size for links */
}

.link-box a:hover {
    text-decoration: underline;
    color: #72ddf7;
}

.social-banner {
    text-align: center;
}

.social-banner img {
    width: 25px; /* Smaller image size */
    margin: 5px; /* Reduced margin */
}

.social-banner img:hover {
    opacity: 0.75;
}

/* Media Query for Phones */
@media (max-width: 768px) {
    .content-container {
        padding: 10px;
    }

    .profile-pic2 {
        max-width: 100px; /* Smaller profile picture for phones */
    }

    .name {
        font-size: 24px; /* Smaller font size for the name on phones */
    }

    .link-box a {
        font-size: 17px; /* Smaller font size for links on phones */
    }
}


/* pop-up container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 1;
}

.popup-image {
    max-width: 400px;
    max-height: 400px;
    margin-top: 10%;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}